body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin-block: 1em;
}



.slideShow {
  position: relative;
  width: fit-content;
  margin-inline-start: auto;
  margin-inline-end: auto;
  img {
    width: 90vw;
    height: 80vh;
    object-fit: cover;
  }
  .slideIndicator{
  position: absolute;
  top: 90%;
  left: 50%;
  font-size: x-large;
  color: white;
  }
  .arrow-left {
    position: absolute;
    font-size: xxx-large;
    right: 95%;
    top: 50%;
    color: white;
  }
  .arrow-right {
    position: absolute;
    font-size: xxx-large;
    left: 95%;
    top: 50%;
    color: white;
  }
}

.info-wrapper {
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 90vw;
  .title-location {
    display: flex;
    justify-content: space-between;
    img {
      border-radius: 50%;
    }
    h1 {
      color: #ff6060;
    }
  }
  .tags-rating {
    display: flex;
    justify-content: space-between;
    .tags-name {
      display: flex;
      gap: 2em;
      width: 90%;
      p {
        background-color: #ff6060;
        border-radius: 10px;
        width: fit-content;
        padding: 0.4em;
        color: white;
        font-weight: 700;
        text-align: center;
      }
    }
    .rateStar {
      display: flex;
      gap: 0.3em;
      font-size: large;
      align-items: center;
    }
  }
}

.description-equipments {
  display: flex;
  justify-content: space-between;
  gap: 5em;
  ul {
    display: grid;
    gap: 0.3em;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.articles-container {
  display: grid;
  gap: 1em;
  margin-block: 1em;
}

.host-info{
  color: #FF6060;
  display: grid;
  img{
    margin-inline: auto;
  }
  p{
    margin-inline: auto;
  }
}
#error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ff6060;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  height: 100vh;
  align-items: center;
  p:first-child {
    font-size: 10em;
    margin: 0;
  }
  a {
    margin-block: 2em;
    color: black;
  }
}

@media screen and (max-width: 576px) {
  .container {
    height: 30vw;
    img{
      height: 30vw;
    }
    h1 {
      font-size: xx-large;
    }
  }
  footer {
    img {
      width: 35%;
    }
  }

  .articles-container {
    gap: 3em;
    article {
      width: 100%;
    }
  }
  .slideShow {
    img {
      height: 45vh;
    }
  }
  .info-wrapper {
    .title-location {
      img {
        width: 70%;
      }
    }
    .tags-rating {
      flex-direction: row-reverse;
      .tags-name {
        justify-content: end;
      }
      .rateStar {
        align-items: center;
      }
    }
    .description-equipments {
      flex-direction: column;
      gap: 1em;
    }
  
    
  }
  .host-info{
    color: #FF6060;
    display: grid;
    img{
      margin-inline: auto;
    }
    p{
      margin-inline: auto;
    }
  }
  #error-page {
    gap: 5em;
    padding-block: 5em;
  }
}


