body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin-block: 1em;
}

.slideShow {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
.slideShow img {
  width: 90vw;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.slideShow .arrow-left {
  position: absolute;
  font-size: xxx-large;
  right: 95%;
  top: 50%;
  color: white;
}
.slideShow .arrow-right {
  position: absolute;
  font-size: xxx-large;
  left: 95%;
  top: 50%;
  color: white;
}

.info-wrapper {
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 90vw;
}
.info-wrapper .title-location {
  display: flex;
  justify-content: space-between;
}
.info-wrapper .title-location img {
  border-radius: 50%;
}
.info-wrapper .title-location h1 {
  color: #ff6060;
}
.info-wrapper .tags-rating {
  display: flex;
  justify-content: space-between;
}
.info-wrapper .tags-rating .tags-name {
  display: flex;
  gap: 2em;
  width: 90%;
}
.info-wrapper .tags-rating .tags-name p {
  background-color: #ff6060;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.4em;
  color: white;
  font-weight: 700;
  text-align: center;
}
.info-wrapper .tags-rating .rateStar {
  display: flex;
  gap: 0.3em;
  font-size: large;
  align-items: center;
}

.description-equipments {
  display: flex;
  justify-content: space-between;
  gap: 5em;
}
.description-equipments ul {
  display: grid;
  gap: 0.3em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.articles-container {
  display: grid;
  gap: 1em;
  margin-block: 1em;
}

.host-info {
  color: #FF6060;
  display: grid;
}
.host-info img {
  margin-inline: auto;
}
.host-info p {
  margin-inline: auto;
}

#error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ff6060;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  height: 100vh;
  align-items: center;
}
#error-page p:first-child {
  font-size: 10em;
  margin: 0;
}
#error-page a {
  margin-block: 2em;
  color: black;
}

@media screen and (max-width: 576px) {
  .container {
    height: 30vw;
  }
  .container img {
    height: 30vw;
  }
  .container h1 {
    font-size: xx-large;
  }
  footer img {
    width: 35%;
  }
  .articles-container {
    gap: 3em;
  }
  .articles-container article {
    width: 100%;
  }
  .slideShow img {
    height: 45vh;
  }
  .info-wrapper .title-location img {
    width: 70%;
  }
  .info-wrapper .tags-rating {
    flex-direction: row-reverse;
  }
  .info-wrapper .tags-rating .tags-name {
    justify-content: end;
  }
  .info-wrapper .tags-rating .rateStar {
    align-items: center;
  }
  .info-wrapper .description-equipments {
    flex-direction: column;
    gap: 1em;
  }
  .host-info {
    color: #FF6060;
    display: grid;
  }
  .host-info img {
    margin-inline: auto;
  }
  .host-info p {
    margin-inline: auto;
  }
  #error-page {
    gap: 5em;
    padding-block: 5em;
  }
}/*# sourceMappingURL=input.css.map */